/* Modifications to standard bootstrap basic_template
   Damien Robertson 2014 */

body {
  padding-top: 50px;
  background-color: #002b36;
  border-color: #93a1a1;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 200;
  line-height: normal;
  color: #839496;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: #93a1a1;
}
a {
  color: #268bd2;
}
a:hover {
  color: #b58900;
  text-decoration: none;
}
a:active {
  color: #6c71c4;
}
p {
  color: inherit;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #586e75;
}
.container{
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.inline-img {
  margin-top: 25px;
  margin-bottom: 25px;
  border-radius: 10px;
  width: 100%;
}
.banner-image {
  margin-top: 25px;
  border-radius: 10px;
  width: 100%;
}
code{
  font-family: Courier, monospace;
  padding: 5px 5px 5px 30px;
  margin: 0px;
  font-size: inherit;
  color: #859900;
  background-color: #073642;
  white-space: nowrap;
  border-radius: 3px
}
pre {
  font-family: Courier, monospace;
  display: block;
  padding: 5px 5px 5px 30px;
  margin: 0px;
  font-size: inherit;
  color: #859900;
  background-color: #073642;
  border: 0px;
  border-radius: 3px;
  word-break: break-all;
  word-wrap: break-word;
}
/* NAVIGATION */
.btn {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus {
  outline: none;
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.btn-default {
  color: #268bd2;
  background-color: inherit;
  border-color: inherit;
  border-radius: 10px;
  font-family: inherit;
  font-weight: inherit;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  color: #b58900;
  background-color: #073642;
  border-color: inherit;
  font-family: inherit;
  font-weight: inherit;
}
.btn-dark {
  color: #268bd2;
  background-color: #002b36;
  border-color: #586e75;
  border-radius: 10px;
  font-family: inherit;
  font-weight: inherit;
}
.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
  color: #b58900;
  background-color: #073642;
  border-color: #586e75;
  font-family: inherit;
  font-weight: inherit;
}
.btn-light {
  color: #268bd2;
  background-color: #fdf6e3;
  border-color: #93a1a1;
  border-radius: 10px;
  font-family: inherit;
  font-weight: inherit;
}
.btn-light:hover,
.btn-light:focus,
.btn-light:active {
  color: #b58900;
  background-color: #eee8d5;
  border-color: #93a1a1;
  font-family: inherit;
  font-weight: inherit;
}
.navbar-collapse{
  max-height: 340px;
  overflow-x: visible;
  padding-right: 15px;
  padding-left: 0px;
  -webkit-overflow-scrolling: touch;
  background-color: #073642;
  border-color: inherit;
}
.navbar-nav {
  margin: 4.0px 0px;
}
.navbar-nav > li > a {
  padding-top: 11px;
  line-height: 20px;
}
.navbar-inverse {
  background-color: #073642;
  border-color: inherit;
  border: 0px;
}
.navbar-inverse .navbar-brand{
  color: inherit;
  padding-top: 15px;
  padding-left: 15px;
  line-height: 20px;
}
.navbar-inverse .navbar-brand .active{
  color: #b58900;
  text-decoration: none;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus{
  color: #b58900;
  background-color: transparent;
}
.navbar-inverse .navbar-nav > li > a {
  color: #268bd2;
}
.navbar-inverse .navbar-nav > .dead > a,
.navbar-inverse .navbar-nav > .dead > a:hover,
.navbar-inverse .navbar-nav > .dead > a:focus {
  color: #606060;
  text-decoration: none;
  background-color: inherit;
  font-family: inherit;
  font-weight: inherit;
  cursor: default;
}
.navbar-inverse .navbar-nav .active {
  color: #b58900;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #b58900;
  background-color: transparent;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #b58900;
  background-color: transparent;
}
.navbar-inverse .navbar-toggle {
  border-color: #586e75;
  border-radius: 10px;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: inherit;
}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #b58900;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-radius: 0px;
  box-shadow: none;
}
.navbar-inverse .navbar-nav .open > a,
.navbar-inverse .navbar-nav .open > a:hover,
.navbar-inverse .navbar-nav .open > a:focus {
  background-color: inherit;
  color: #b58900;
  font-family: inherit;
  font-weight: inherit;
}
.dropdown > .dropdown-menu {
  background-color: #073642;
  border-color: #073642;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.dropdown > .dropdown-menu > .live > a {
  color: #268bd2;
  font-weight: inherit;
}
.dropdown > .dropdown-menu > .live > a:hover,
.dropdown > .dropdown-menu > .live > a:focus,
.dropdown > .dropdown-menu > .live  .active {
  color: #b58900;
  text-decoration: none;
  background-color: inherit;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #b58900;
  text-decoration: none;
  background-color: inherit;
}
.dropdown-menu > .dead > a,
.dropdown-menu > .dead > a:hover,
.dropdown-menu > .dead > a:focus {
  color: #606060;
  text-decoration: none;
  background-color: inherit;
  font-family: inherit;
  font-weight: inherit;
  cursor: default;
}
.dropdown.open > .dropdown-toggle {
  color: #b58900;
  background-color: inherit;
}
.dropdown-menu .divider {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 20px;
  margin-right: 20px;
  border: 0;
  border-top: 1px solid #586e75;
}
@media (max-width: 767px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: inherit;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
    background-color: inherit;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .live > a {
    color: #268bd2;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .live > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .live > a:focus {
    color: #b58900;
    background-color: transparent;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: inherit;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .dead > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .dead > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .dead > a:focus {
    color: #606060;
    background-color: transparent;
    cursor: default;
  }
}
/* NAVIGATION */
footer > p {
  text-align: right;
}
.masterQuote {
  cursor: default;
}
.quote {
  display: none;
  position: relative;
  /*max-width: 800px;
  width: inherit;*/
  background-color: #073642;
  color: #93a1a1;
  border-radius: 0px;
  padding: 5px;
  margin: 5px 15px 5px 15px;
  font-size: inherit;
  cursor: pointer;
  z-index: 7;
}