body {
  padding-top: 50px;
  background-color: #002b36;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 200;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: inherit;
  font-weight: inherit;
  color: #93a1a1;
}

a {
  color: #268bd2;
}

a:hover {
  color: #b58900;
  text-decoration: none;
}

a:active {
  color: #6c71c4;
}

p {
  color: #839496;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 2px solid #586e75;
}

.container{
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

code{
  font-family: Courier;
  padding: 4px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  white-space: nowrap;
  border-radius: 3px
}

/* NAVIGATION */

.navbar-collapse{
  max-height: 340px;
  overflow-x: visible;
  padding-right: 15px;
  padding-left: 0px;
  -webkit-overflow-scrolling: touch;
}

.navbar-nav {
  margin: 4.0px 0px;
}

.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
}

.navbar-inverse {
  background-color: #002b36;
  border-color: #002b36;
}
.navbar-inverse .navbar-brand{
  color: inherit;
}

.navbar-inverse .navbar-brand .active{
  color: #b58900;
  text-decoration: none;
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus{
  color: #b58900;
  background-color: transparent;
}

.navbar-inverse .navbar-nav > li > a {
  color: #268bd2;
}

.navbar-inverse .navbar-nav .active {
  color: #b58900;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  color: #b58900;
  background-color: transparent;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #b58900;
  background-color: transparent;
}

.navbar-inverse .navbar-toggle {
  border-color: #586e75;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
  background-color: #002b36;
}

.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #b58900;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border-color: #101010;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:focus {
    background-color: #080808;
    color: #fff
}

/* NAVIGATION */

.btn-default {
    color: #268bd2;
    background-color: inherit;
    border-color: #586e75;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active,
.open .dropdown-toggle.btn-default {
    color: #b58900;
    background-color: inherit;
    border-color: #586e75;
}
